body {
  background: #c2ded1;
}

#navbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#navbar .nav-link {
  color: #c2ded1;
}

#navbar .nav-link:hover {
  color: blue;
}

#navbar .nav-brand {
  color: blue;
  font-size: 1.5rem;
}

.nabar.scrolled {
  background-color: beige;
  /* transition: background 500; */
}

#title-head {
  font-weight: 100;
  font-size: 4rem;
}

@media (max-width: 1200px) {
  #title-head h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}
